/* ROOT */

:root {
  /* Color Palette */
  --text: #141414;
  --background: #576f35;
  --background-2: #7a3145;
  --main-text: #fbfbfb;
  /* Font */
  --font-family: "Inter Tight", sans-serif;
}
/* Styles for desktop screens 1280px - Mobile First */
body {
  font-family: var(--font-family);
  font-size: 16px;
}
@media screen and (min-width: 1280px) {
  /* Helper Class */
  .container {
    max-width: 1280px;
  }

  /* Header */

  /* Burger Menu */

  /* Main */
  /* Section One */

  /* Section Two */

  /* Section Three */


  /* Section Four */ /* Levent KOYBASI */
  .fresh-harvest-main-container {
    padding: 100px 100px;
    min-width: 1280px;
  }
  .fresh-harvest-container {
    min-width: 1080px;
  }
  .fresh-harvest {
    align-self: self-start;
    width: 751px;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .order-form-social-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .ordering-form-container {
    border-radius: 30px;
    padding: 50px;
    width: 529px;
    height: 534px;
  }
  .order-social {
    border-radius: 30px;
    padding: 50px;
    width: 527px;
    height: 534px;
  }
  .social-img {
    border-radius: 15px;
    width: 427px;
    height: 273px;
  }
 

  /* Section Five Sudenur ÇELİK*/
  .section-five {
    padding: 100px;
    width: 1280px;
    height: 701px;
  }
  .customer {
    gap: 25px;
  }
  .customer-card:nth-child(3) {
    display: flex;
  }
  /* Section Six */

  /* Footer */
}
